<!DOCTYPE HTML>
<html>
    {{ partial "head.html" . }}
    <body class="homepage">
        <div id="page-wrapper">

            {{ partial "header.html" . }}
            {{ partial "navigation.html" . }}

            <!-- Main -->
            <div id="main-wrapper">
                <div id="main" class="container">
                    <div class="row 200%">
                        <div class="12u">

                            <!-- Features -->
                            <section class="box features">
                                <h2 class="major"><span>Ju-Jitsu Keerbergen VZW</span></h2>
                                <div>
                                    <div class="row">
                                        {{ range $index, $Page := .Paginator.Pages.ByDate.Reverse }}

                                        <div class="3u 12u(mobile)">

                                            <!-- Feature -->
                                            <section class="box feature">
                                                <a href="{{ .Permalink }}" class="image featured">
                                                    <img width="221.25 px"
                                                            height="123.95 px"
                                                            src="{{ .Params.listpageImgUrl}}"
                                                            alt="Ju-Jitsu Keerbergen Nieuws"/></a>
                                                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                                <p>
                                                    {{ .Description }}
                                                </p>
                                            </section>

                                        </div>

                                        {{ if and (modBool (add $index 1) 4) (ne $index 0) }}
                                    </div>
                                    <div class="row">
                                        {{ end }}
                                    {{ end }}

                                    </div>
                                </div>
                            </section>


                            <div class="pagination">
                                {{ partial "pagination.html" . }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {{ partial "footer.html" . }}
        </div>

        {{ partial "scripts.html" . }}
    </body>
</html>