<!DOCTYPE HTML>
<html>
    {{ partial "head.html" . }}
    <body class="homepage">
        <div id="page-wrapper">

            {{ partial "header.html" . }}
            {{ partial "navigation.html" . }}

            <!-- Main -->
            <div id="main-wrapper">
                <div id="main" class="container">
                    <div class="row 200%">
                        <div class="12u">
                            <h1>{{ .Title }}</h1>
                            <ul class="meta">
                                <li class="icon fa-clock-o">{{ .Date.Format .Site.Params.dateForm }}</li>
                                <li class="icon fa-user"><a href="/trainers#{{ replace .Params.author " " "_" }}">{{ .Params.author }}</a></li>
                            </ul>
                            <div>
                                {{ if .Params.detailpageImgUrl }}
                                <img class="image" src="{{ .Site.BaseURL }}/{{ .Params.detailpageImgUrl }}">
                                {{ end }}
                                {{ .Content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ partial "footer.html" . }}
        </div>

        {{ partial "scripts.html" . }}
    </body>
</html>