<!-- Footer -->
<footer id="footer" class="container">
    <div class="row 200%">
        <div class="12u">

            <!-- About -->
            <section>
                <h2 class="major"><span>{{ .Data.clubName }}</span></h2>
                <p>
                    Time on the mat will eventually surpass talent and ability.
                </p>
            </section>

        </div>
    </div>
    <div class="row 200%">
        <div class="12u">

            <!-- Contact -->
            <section>
                <h2 class="major"><span>Get in touch</span></h2>
                <ul class="contact">
                    {{ range .Site.Params.social }}
                    <li>
                        <a target="_blank" href="{{ .url }}">
                            <i class="icon fa {{ .icon }}">
                                <span class="label">{{ .name }}</span>
                            </i>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </section>

        </div>
    </div>

    {{ partial "copyright.html" . }}

</footer>