<head>
    <meta http-equiv="refresh" content="0; url=https://www.invictokeerbergen.be/">
    <title>{{ .Site.Title }} {{ .Params.Title }}</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Ju-Jitsu Keerbergen VZW is een gepassioneerde vechtsportclub in Keerbergen.">
    <meta name="keywords" content="Ju-Jitsu, Keerbergen, Vechtsporten, Judo, BJJ, JJK">
    <meta name="author" content="Ju-Jitsu Keerbergen VZW">

    <meta property="og:title" content="Ju-Jitsu Keerbergen VZW">
    <meta property="og:description" content="Gepassioneerde Ju-Jitsu club te Keerbergen.">
    <meta property="og:image" content="https://www.jujitsukeerbergen.be/images/new-logo.png">
    <meta property="og:url" content="https://www.jujitsukeerbergen.be">

    <meta name="twitter:title" content="Ju-Jitsu Keerbergen VZW">
    <meta name="twitter:description" content="Gepassioneerde Ju-Jitsu club te Keerbergen.">
    <meta name="twitter:image" content="https://www.jujitsukeerbergen.be/images/new-logo.png">
    <meta name="twitter:card" content="summary_large_image">

    <!--[if lte IE 8]>
    <script src="{{ .Site.BaseURL }}/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/ie8.css"/><![endif]-->
</head>