<div id="{{ .firstname }}_{{ .familyname }}">
    <h2>{{ .firstname }} {{ .familyname }}</h2>

    <img src="{{ .imageSrc }}" width="155px">
    <h3>Contact:</h3>
    <a href="mailto:{{ .mail }}">{{ .mail}}</a>
    <h3>Behaalde graden:</h3>
    <ul>
        {{ range .danGraden }}
        <li>{{ . }}</li>
        {{ end }}
    </ul>

    {{ if .startJuJitsu }}
    <h3>Gestart met Ju-Jitsu in:</h3>
    {{ .startJuJitsu }}
    {{ end }}

    {{ if .diplomas }}
    <h3>Behaalde diploma's:</h3>
    <ul>
        {{ range .diplomas }}
        <li>{{ . }}</li>
        {{ end }}
    </ul>
    {{ end }}

    {{ if .functionsclub }}
    <h3>Functies binnen onze club:</h3>
    <ul>
        {{ range .functionsclub }}
        <li>{{ . }}</li>
        {{ end }}
    </ul>
    {{ end }}

    {{ if .functionsNextToClub }}
    <h3>Extra vechtsportfuncties naast onze club:</h3>
    <ul>
        {{ range .functionsNextToClub }}
        <li>{{ . }}</li>
        {{ end }}
    </ul>
    {{ end }}

    {{ if .palmares }}
    <h3>Samenvatting van behaalde competitie resultaten:</h3>
    <ul>
        {{ range .palmares }}
        <li>{{ . }}</li>
        {{ end }}
    </ul>
    {{ end }}
</div>