<!DOCTYPE HTML>
<html>
    {{ partial "head.html" . }}
    <body class="homepage">
        <div id="page-wrapper">

            {{ partial "header.html" . }}
            {{ partial "navigation.html" . }}
            {{ partial "lastNewsBanner.html" . }}


            <!-- Main -->
            <div id="main-wrapper">
                <div id="main" class="container">
                    <div class="row 200%">
                        <div class="12u">

                            <!-- Features -->
                            <section class="box features">
                                <h2 class="major"><span>{{ .Data.clubName }}</span></h2>
                                <div>
                                    <div class="row">
                                        <h3>Welkom beste sportvrienden,</h3>
                                        <p>
                                        Hartelijk welkom op de website van Ju-Jitsu Keerbergen!<br />
                                        Bij deze wil ik u van harte verwelkomen op onze website. In eerste plaats wil ik u bedanken dat u interesse toont in onze mooie sport en als tweede dat u aan onze club denkt.
                                        Op onze site kunnen jullie informatie vinden over onze sport en onze club.<br />
                                        We hopen dat je hier vindt wat je zoekt. Indien je vragen hebt, kan je ons steeds contacteren.<br />
                                        <br />
                                        Vergeet zeker ook niet het laatste nieuws over onze club te volgen.<br /><br />

                                        Is je interesse gewekt? Voel je het ook een beetje kriebelen?... kom dan gerust eens langs op één van onze jeugd en/of volwassenen trainingen.  De trainers en bestuursleden zullen je graag de nodige bijkomende uitleg verschaffen.  En wie weet ... word ook jij dan lid van onze prachtige club!
                                        </p>
                                        <p>
                                        Sportieve groeten,
                                            <br /> <br />
                                        Kim Lauwers <br />
                                        Voorzitter <br />
                                        </p>
                                    </div>
                                    <div class="row">

                                        <div class="3u 12u(mobile)">

                                            <!-- Feature -->
                                            <section class="box feature">
                                                <a href="/jujitsu" class="image featured"><img width="221.25 px" height="123.95 px" src="images/jujitsu.png" alt="Wat is Ju-Jitsu"/></a>
                                                <h3><a href="/jujitsu">Wat is Ju-Jitsu</a></h3>
                                                <p>
                                                    Ju-Jitsu is een Japanse vechtsport, maar het meer dan dat.
                                                </p>
                                            </section>

                                        </div>

                                        <div class="3u 12u(mobile)">

                                            <!-- Feature -->
                                            <section class="box feature">
                                                <a href="/trainers" class="image featured"><img width="221.25 px" height="123.95 px" src="images/trainers.png" alt="Wie zijn wij"/></a>
                                                <h3><a href="/trainers">Wie zijn wij</a></h3>
                                                <p>
                                                    Kom even kijken van welke toptrainers je les krijgt in onze club.
                                                </p>
                                            </section>

                                        </div>

                                        <div class="3u 12u(mobile)">

                                            <!-- Feature -->
                                            <section class="box feature">
                                                <a href="/club" class="image featured"><img width="221.25 px" height="123.95 px" src="images/logo.png" alt="Club"/></a>
                                                <h3><a href="/club">Club</a></h3>
                                                <p>
                                                    Een korte geschiedenis van onze mooie club.
                                                </p>
                                            </section>

                                        </div>
                                        <div class="3u 12u(mobile)">

                                            <!-- Feature -->
                                            <section class="box feature">
                                                <a href="/lidmaatschap-training" class="image featured"><img width="221.25 px" height="123.95 px" src="images/trainingen.png" alt="Lidmaatschap en training"/></a>
                                                <h3><a href="/lidmaatschap-training">Lidmaatschap en training</a></h3>
                                                <p>
                                                    Meer informatie over onze trainingen en het lidmaatschap.
                                                </p>
                                            </section>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="12u">
                                            <ul class="actions">
                                                <li><a href="/contact" class="button big">Contacteer ons</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>

                    {{ partial "blogBanner.html" . }}

                </div>
            </div>

            {{ partial "footer.html" . }}
        </div>

        {{ partial "scripts.html" . }}
    </body>
</html>