<!DOCTYPE HTML>
<html>
    {{ partial "head.html" . }}
    <body class="homepage">
        <div id="page-wrapper">

            {{ partial "header.html" . }}
            {{ partial "navigation.html" . }}
            {{ partial "lastNewsBanner.html" . }}


            <!-- Main -->
            <div id="main-wrapper">
                <div id="main" class="container">
                    <div class="row 200%">
                        <div class="12u">

                            <!-- Features -->
                            <section class="box features">
                                <h2 class="major"><span>Ju-Jitsu Keerbergen VZW</span></h2>
                                <div>
                                    <div class="row">

                                        <div class="3u 12u(mobile)">

                                            <!-- Feature -->
                                            <section class="box feature">
                                                <a href="#" class="image featured"><img src="images/pic03.jpg" alt="Wat is Ju-Jitsu"/></a>
                                                <h3><a href="/jujitsu">Wat is Ju-Jitsu</a></h3>
                                                <p>
                                                    Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                                                    lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
                                                </p>
                                            </section>

                                        </div>

                                        <div class="3u 12u(mobile)">

                                            <!-- Feature -->
                                            <section class="box feature">
                                                <a href="#" class="image featured"><img src="images/pic01.jpg" alt="Wie zijn wij"/></a>
                                                <h3><a href="/trainers">Wie zijn wij</a></h3>
                                                <p>
                                                    Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                                                    lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
                                                </p>
                                            </section>

                                        </div>

                                        <div class="3u 12u(mobile)">

                                            <!-- Feature -->
                                            <section class="box feature">
                                                <a href="#" class="image featured"><img src="images/pic02.jpg" alt="Club"/></a>
                                                <h3><a href="/club">Club</a></h3>
                                                <p>
                                                    Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                                                    lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
                                                </p>
                                            </section>

                                        </div>
                                        <div class="3u 12u(mobile)">

                                            <!-- Feature -->
                                            <section class="box feature">
                                                <a href="#" class="image featured"><img src="images/pic04.jpg" alt="Trainingen"/></a>
                                                <h3><a href="/trainingen">Trainingen</a></h3>
                                                <p>
                                                    Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                                                    lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
                                                </p>
                                            </section>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="12u">
                                            <ul class="actions">
                                                <li><a href="/contact" class="button big">Contacteer ons</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>

                    {{ partial "blogBanner.html" . }}

                </div>
            </div>

            {{ partial "footer.html" . }}
        </div>

        {{ partial "scripts.html" . }}
    </body>
</html>